In [229]:
import pandas as pd
import json
pd.options.mode.chained_assignment = None

In [230]:
submission_df = pd.read_csv("api_submission.csv")
submission_df

,submission_code,date,is_passed,account_id,problem_id,max_score,passed_ratio,score,language,topic_id,submission_id
0,"print(""Hello World!"")\n",2022-10-27 07:16:02.229668,1,5,26,0,0.0,0,python,NaN,160
1,NaN,2022-10-27 07:16:16.675488,0,5,26,0,0.0,0,python,NaN,161
2,"print(""Hello World!"")\n",2022-10-27 07:16:19.502776,1,5,26,0,0.0,0,python,NaN,162
3,"print(""Hello World!"")\n",2022-10-27 07:17:19.152737,1,5,26,0,0.0,0,python,NaN,163
4,"print(""Hello World"")\n",2022-11-13 11:56:38.030682,0,4,26,0,0.0,0,python,NaN,182
...,...,...,...,...,...,...,...,...,...,...,...
2185,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-14 13:27:12.822191,0,14,466254a3a6ac4bc8b7ee9e0925d2ba86,10,0.2,2,c,538b9db3e2a04c94974c54526115f844,243658b154a34bb9bb87268400bf25a5
2186,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-15 20:43:13.728600,0,4,466254a3a6ac4bc8b7ee9e0925d2ba86,10,0.0,0,c,538b9db3e2a04c94974c54526115f844,de692bd7b9374bc9a2346fae8ec92a9e
2187,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-15 20:43:26.187614,0,4,466254a3a6ac4bc8b7ee9e0925d2ba86,10,0.0,0,c,538b9db3e2a04c94974c54526115f844,cd39f2e6d58c4fb396507752804e3a1c
2188,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-15 20:44:00.234384,0,4,466254a3a6ac4bc8b7ee9e0925d2ba86,10,0.2,2,c,538b9db3e2a04c94974c54526115f844,88d691f7b6714c61a1c127fe28eee1e8
2189,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-15 20:45:14.611504,1,4,466254a3a6ac4bc8b7ee9e0925d2ba86,10,1.0,10,c,538b9db3e2a04c94974c54526115f844,46bd9779f6b74f5fbe5968ec54452797

In [231]:
submission_df = submission_df[['account_id', 'problem_id','is_passed','language','date','submission_code','passed_ratio']]

# Change submission_code to string
submission_df['submission_code'] = submission_df['submission_code'].astype(str)
submission_df

,account_id,problem_id,is_passed,language,date,submission_code,passed_ratio
0,5,26,1,python,2022-10-27 07:16:02.229668,"print(""Hello World!"")\n",0.0
1,5,26,0,python,2022-10-27 07:16:16.675488,nan,0.0
2,5,26,1,python,2022-10-27 07:16:19.502776,"print(""Hello World!"")\n",0.0
3,5,26,1,python,2022-10-27 07:17:19.152737,"print(""Hello World!"")\n",0.0
4,4,26,0,python,2022-11-13 11:56:38.030682,"print(""Hello World"")\n",0.0
...,...,...,...,...,...,...,...
2185,14,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-14 13:27:12.822191,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.2
2186,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:43:13.728600,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.0
2187,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:43:26.187614,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.0
2188,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:44:00.234384,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.2
2189,4,466254a3a6ac4bc8b7ee9e0925d2ba86,1,c,2024-01-15 20:45:14.611504,#include <stdio.h>\r\n\r\nint main() {\r\n ...,1.0

In [232]:
# Sort by account_id, problem_id and date
submission_df.sort_values(['account_id','problem_id','date'])

# Calculate the difference time between the current submission and the previous submission
submission_df['date'] = pd.to_datetime(submission_df['date'])
submission_df['diff_time'] = submission_df.groupby(['account_id','problem_id'])['date'].diff()
submission_df['diff_time'] = submission_df['diff_time'].dt.total_seconds()

# Set all diff_time which is NaN to 0
submission_df['diff_time'].fillna(0, inplace=True)

# Set all diff_time which has more than 3 hours to 3
submission_df.loc[submission_df['diff_time'] > 10800, 'diff_time'] = 10801
submission_df

,account_id,problem_id,is_passed,language,date,submission_code,passed_ratio,diff_time
0,5,26,1,python,2022-10-27 07:16:02.229668,"print(""Hello World!"")\n",0.0,0.000000
1,5,26,0,python,2022-10-27 07:16:16.675488,nan,0.0,14.445820
2,5,26,1,python,2022-10-27 07:16:19.502776,"print(""Hello World!"")\n",0.0,2.827288
3,5,26,1,python,2022-10-27 07:17:19.152737,"print(""Hello World!"")\n",0.0,59.649961
4,4,26,0,python,2022-11-13 11:56:38.030682,"print(""Hello World"")\n",0.0,0.000000
...,...,...,...,...,...,...,...,...
2185,14,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-14 13:27:12.822191,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.2,8.971618
2186,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:43:13.728600,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.0,0.000000
2187,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:43:26.187614,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.0,12.459014
2188,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:44:00.234384,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.2,34.046770
2189,4,466254a3a6ac4bc8b7ee9e0925d2ba86,1,c,2024-01-15 20:45:14.611504,#include <stdio.h>\r\n\r\nint main() {\r\n ...,1.0,74.377120

In [233]:
# Loop each row
current_problem_id = None
current_account_id = None
already_passed = False
previous_diff_time = -1


for index, row in submission_df.iterrows():
    if not current_problem_id and not current_account_id:
        current_problem_id = row['problem_id']
        current_account_id = row['account_id']

    if current_problem_id != row['problem_id'] or current_account_id != row['account_id']:
        current_problem_id = row['problem_id']
        current_account_id = row['account_id']
        already_passed = False
    elif already_passed:
        # row['diff_time'] = 0
        submission_df.drop(index, inplace=True)
    elif row['is_passed'] == 1:
        already_passed = True
        if row['diff_time'] > 10800:
            row['diff_time'] = previous_diff_time

submission_df

,account_id,problem_id,is_passed,language,date,submission_code,passed_ratio,diff_time
0,5,26,1,python,2022-10-27 07:16:02.229668,"print(""Hello World!"")\n",0.0,0.000000
4,4,26,0,python,2022-11-13 11:56:38.030682,"print(""Hello World"")\n",0.0,0.000000
5,4,26,0,python,2022-11-13 11:56:38.753475,"print(""Hello World"")\n",0.0,0.722793
6,4,26,1,python,2022-11-13 11:56:43.121230,"print(""Hello World!"")\n",0.0,4.367755
7,4,33,1,python,2022-11-14 07:35:00.337364,"text = input(""Input text: "")\ncol = int(input(...",0.0,0.000000
...,...,...,...,...,...,...,...,...
2185,14,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-14 13:27:12.822191,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.2,8.971618
2186,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:43:13.728600,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.0,0.000000
2187,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:43:26.187614,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.0,12.459014
2188,4,466254a3a6ac4bc8b7ee9e0925d2ba86,0,c,2024-01-15 20:44:00.234384,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.2,34.046770
2189,4,466254a3a6ac4bc8b7ee9e0925d2ba86,1,c,2024-01-15 20:45:14.611504,#include <stdio.h>\r\n\r\nint main() {\r\n ...,1.0,74.377120

In [234]:
grouped_submission_df = submission_df.groupby(['account_id','problem_id']).agg({'is_passed':'sum','date':'count','diff_time':'sum'}).reset_index()

# Rename columns
grouped_submission_df.rename(columns={'date':'first_passed_total_attempts','is_passed':'passed_submission'}, inplace=True)


grouped_submission_df

,account_id,problem_id,passed_submission,first_passed_total_attempts,diff_time
0,4,101,1,1,0.000000
1,4,102,1,14,27306.114982
2,4,103,3,3,3875.544723
3,4,111,0,1,0.000000
4,4,113,0,2,10801.000000
...,...,...,...,...,...
537,34,90,1,5,14344.738131
538,34,91,0,8,12335.630535
539,35,39,1,8,591.711660
540,37,39,1,15,429.970366
541,37,89,1,10,1544.946604

In [235]:
grouped_submission_df = grouped_submission_df.groupby(['problem_id']).agg({'passed_submission':'sum','first_passed_total_attempts':'sum','diff_time':'mean'}).reset_index()

grouped_submission_df['first_pf_ratio'] = grouped_submission_df['passed_submission'] / grouped_submission_df['first_passed_total_attempts']
df = grouped_submission_df.drop(['passed_submission','first_passed_total_attempts'], axis=1)

# Change problem_id to index
df.set_index('problem_id', inplace=True)
df

                                    diff_time  first_pf_ratio
problem_id
100                               4909.323282        0.250000
101                                339.843212        0.428571
102                               7609.605477        0.148148
103                               1504.160602        0.454545
104                               2221.719998        0.700000
...                                       ...             ...
96                                 128.579397        0.400000
97                                 685.743135        0.189189
98                                  33.388133        0.470588
99                                  66.590902        0.500000
c16b270c3efd4ae4b9278400f64fdc15    10.102029        0.400000

[117 rows x 2 columns]

In [236]:
difficulty = json.load(open('difficulty.json'))

def applyDifficulty(row):
    return difficulty[str(row.name)]

df['difficulty'] = df.apply(applyDifficulty, axis=1)
df

                                    diff_time  first_pf_ratio  difficulty
problem_id
100                               4909.323282        0.250000           1
101                                339.843212        0.428571           1
102                               7609.605477        0.148148           2
103                               1504.160602        0.454545           1
104                               2221.719998        0.700000           1
...                                       ...             ...         ...
96                                 128.579397        0.400000           1
97                                 685.743135        0.189189           1
98                                  33.388133        0.470588           1
99                                  66.590902        0.500000           1
c16b270c3efd4ae4b9278400f64fdc15    10.102029        0.400000           1

[117 rows x 3 columns]

In [237]:
df.to_csv('modelgrader_submission_processed.csv')
print("Done")

Done