In [9]:
import pandas as pd
import json
pd.options.mode.chained_assignment = None

In [10]:
submission_df = pd.read_csv("api_submission.csv")
submission_df

,submission_code,date,is_passed,account_id,problem_id,max_score,passed_ratio,score,language,topic_id,submission_id
0,"print(""Hello World!"")\n",2022-10-27 07:16:02.229668,1,5,26,0,0.000000,0,python,NaN,160
1,NaN,2022-10-27 07:16:16.675488,0,5,26,0,0.000000,0,python,NaN,161
2,"print(""Hello World!"")\n",2022-10-27 07:16:19.502776,1,5,26,0,0.000000,0,python,NaN,162
3,"print(""Hello World!"")\n",2022-10-27 07:17:19.152737,1,5,26,0,0.000000,0,python,NaN,163
4,"print(""Hello World"")\n",2022-11-13 11:56:38.030682,0,4,26,0,0.000000,0,python,NaN,182
...,...,...,...,...,...,...,...,...,...,...,...
2355,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-21 15:08:31.688520,0,14,de63587d9490436283dec1063df77e8b,15,0.800000,12,c,538b9db3e2a04c94974c54526115f844,a689d0d5a22a4b6fa69e7aec29c7d471
2356,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-21 15:09:17.787222,0,14,de63587d9490436283dec1063df77e8b,15,0.266667,4,c,538b9db3e2a04c94974c54526115f844,96049da00c7545579589df3819cbcce0
2357,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-21 15:12:19.362662,1,14,de63587d9490436283dec1063df77e8b,15,1.000000,15,c,538b9db3e2a04c94974c54526115f844,c31949e1d035444583c78690a7137d6c
2358,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-21 15:13:53.871943,0,14,de63587d9490436283dec1063df77e8b,15,0.333333,5,c,538b9db3e2a04c94974c54526115f844,9b691ebff6154f2f8ad8817d3aaf263a
2359,#include <stdio.h>\r\n\r\nint main() {\r\n ...,2024-01-21 15:14:15.665656,0,14,de63587d9490436283dec1063df77e8b,15,0.333333,5,c,538b9db3e2a04c94974c54526115f844,09eea00b91bb487fafe22bb6ae28f507

In [11]:
submission_df = submission_df[['account_id', 'problem_id','is_passed','language','date','submission_code','passed_ratio']]

# Change submission_code to string
submission_df['submission_code'] = submission_df['submission_code'].astype(str)
submission_df

,account_id,problem_id,is_passed,language,date,submission_code,passed_ratio
0,5,26,1,python,2022-10-27 07:16:02.229668,"print(""Hello World!"")\n",0.000000
1,5,26,0,python,2022-10-27 07:16:16.675488,nan,0.000000
2,5,26,1,python,2022-10-27 07:16:19.502776,"print(""Hello World!"")\n",0.000000
3,5,26,1,python,2022-10-27 07:17:19.152737,"print(""Hello World!"")\n",0.000000
4,4,26,0,python,2022-11-13 11:56:38.030682,"print(""Hello World"")\n",0.000000
...,...,...,...,...,...,...,...
2355,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:08:31.688520,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.800000
2356,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:09:17.787222,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.266667
2357,14,de63587d9490436283dec1063df77e8b,1,c,2024-01-21 15:12:19.362662,#include <stdio.h>\r\n\r\nint main() {\r\n ...,1.000000
2358,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:13:53.871943,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.333333
2359,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:14:15.665656,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.333333

In [12]:
# Sort by account_id, problem_id and date
submission_df.sort_values(['account_id','problem_id','date'])

# Calculate the difference time between the current submission and the previous submission
submission_df['date'] = pd.to_datetime(submission_df['date'])
submission_df['diff_time'] = submission_df.groupby(['account_id','problem_id'])['date'].diff()
submission_df['diff_time'] = submission_df['diff_time'].dt.total_seconds()

# Set all diff_time which is NaN to 0
submission_df['diff_time'].fillna(0, inplace=True)

# Set all diff_time which has more than 3 hours to 3
submission_df.loc[submission_df['diff_time'] > 10800, 'diff_time'] = 10801
submission_df

,account_id,problem_id,is_passed,language,date,submission_code,passed_ratio,diff_time
0,5,26,1,python,2022-10-27 07:16:02.229668,"print(""Hello World!"")\n",0.000000,0.000000
1,5,26,0,python,2022-10-27 07:16:16.675488,nan,0.000000,14.445820
2,5,26,1,python,2022-10-27 07:16:19.502776,"print(""Hello World!"")\n",0.000000,2.827288
3,5,26,1,python,2022-10-27 07:17:19.152737,"print(""Hello World!"")\n",0.000000,59.649961
4,4,26,0,python,2022-11-13 11:56:38.030682,"print(""Hello World"")\n",0.000000,0.000000
...,...,...,...,...,...,...,...,...
2355,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:08:31.688520,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.800000,11.400721
2356,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:09:17.787222,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.266667,46.098702
2357,14,de63587d9490436283dec1063df77e8b,1,c,2024-01-21 15:12:19.362662,#include <stdio.h>\r\n\r\nint main() {\r\n ...,1.000000,181.575440
2358,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:13:53.871943,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.333333,94.509281
2359,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:14:15.665656,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.333333,21.793713

In [13]:
# Loop each row
current_problem_id = None
current_account_id = None
already_passed = False
previous_diff_time = -1


for index, row in submission_df.iterrows():
    if not current_problem_id and not current_account_id:
        current_problem_id = row['problem_id']
        current_account_id = row['account_id']

    if current_problem_id != row['problem_id'] or current_account_id != row['account_id']:
        current_problem_id = row['problem_id']
        current_account_id = row['account_id']
        already_passed = False
    elif already_passed:
        # row['diff_time'] = 0
        submission_df.drop(index, inplace=True)
    elif row['is_passed'] == 1:
        already_passed = True
        if row['diff_time'] > 10800:
            row['diff_time'] = previous_diff_time

submission_df

,account_id,problem_id,is_passed,language,date,submission_code,passed_ratio,diff_time
0,5,26,1,python,2022-10-27 07:16:02.229668,"print(""Hello World!"")\n",0.000000,0.000000
4,4,26,0,python,2022-11-13 11:56:38.030682,"print(""Hello World"")\n",0.000000,0.000000
5,4,26,0,python,2022-11-13 11:56:38.753475,"print(""Hello World"")\n",0.000000,0.722793
6,4,26,1,python,2022-11-13 11:56:43.121230,"print(""Hello World!"")\n",0.000000,4.367755
7,4,33,1,python,2022-11-14 07:35:00.337364,"text = input(""Input text: "")\ncol = int(input(...",0.000000,0.000000
...,...,...,...,...,...,...,...,...
2353,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:04:13.335582,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.266667,66.895936
2354,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:08:20.287799,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.800000,246.952217
2355,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:08:31.688520,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.800000,11.400721
2356,14,de63587d9490436283dec1063df77e8b,0,c,2024-01-21 15:09:17.787222,#include <stdio.h>\r\n\r\nint main() {\r\n ...,0.266667,46.098702
2357,14,de63587d9490436283dec1063df77e8b,1,c,2024-01-21 15:12:19.362662,#include <stdio.h>\r\n\r\nint main() {\r\n ...,1.000000,181.575440

In [14]:
grouped_submission_df = submission_df.groupby(['account_id','problem_id']).agg({'is_passed':'sum','date':'count','diff_time':'sum'}).reset_index()

# Rename columns
grouped_submission_df.rename(columns={'date':'first_passed_total_attempts','is_passed':'passed_submission','diff_time':'first_passed_time_used'}, inplace=True)

# Drop if first_passed_total_attempts less than 10
grouped_submission_df = grouped_submission_df[grouped_submission_df['first_passed_total_attempts'] >= 10]

grouped_submission_df

,account_id,problem_id,passed_submission,first_passed_total_attempts,first_passed_time_used
0,10,26,11,52,3248.848945
9,12,90,1,10,1468.713073
13,12,95,1,10,1044.492717
27,13,90,1,11,1006.424137
135,14,de63587d9490436283dec1063df77e8b,1,11,1081.136252
139,15,39,1,16,5068.186897
145,15,91,1,10,279.490459
146,15,92,1,16,20301.040229
147,15,95,1,11,3918.759625
155,16,90,1,17,1395.776205
218,18,189,1,11,7147.600507
221,18,32,0,14,33952.541667
254,18,84,2,15,2240.250901
262,18,93,1,15,2177.060721
265,18,95ffaed6d2df44f6a143a58dd974f48c,2,19,2197.658505
288,19,90,2,11,393.668615
307,22,36,1,20,2179.126062
311,22,90,1,13,2470.109746
322,23,91,1,12,364.553092
323,23,95,1,11,2242.795230
334,24,69,1,21,11391.549667
339,24,90,3,15,17297.817757
340,24,91,2,15,19285.814565
345,26,36,0,14,1270.291738
348,26,56,1,14,550.855698
349,26,89,1,10,617.288367
371,29,51,1,13,25319.208911
373,29,53,1,11,5521.989029
381,29,65,1,11,3427.915384
385,29,69,1,19,26087.159631
398,29,90,1,12,392.097735
401,29,93,0,10,11843.983463
404,29,97,0,17,3368.679710
468,32,100,1,11,27716.431611
486,32,4c3dd648b8794405bdab98be9efed4e1,0,10,3774.941655
488,32,53,1,11,1351.294869
492,32,59,1,17,1572.689994
504,32,93,1,23,2759.296566
506,32,95,1,10,578.719974
520,37,39,1,15,429.970366
521,37,89,1,10,1544.946604
523,4,102,1,14,27306.114982
545,4,26,9,23,54139.523074
546,4,30,5,15,80324.741168
547,4,31,5,15,33624.470888
548,4,32,9,35,102987.340612
553,4,39,5,74,59715.849195
582,63fc04ba6d36498585ec436cc3581b0c,466254a3a6ac4bc8b7ee9e0925d2ba86,1,13,1718.811215

In [15]:
grouped_submission_df = grouped_submission_df.groupby(['problem_id']).agg({'passed_submission':'sum','first_passed_total_attempts':'sum','first_passed_time_used':'mean'}).reset_index()

# grouped_submission_df['first_pf_ratio'] = grouped_submission_df['passed_submission'] / grouped_submission_df['first_passed_total_attempts']
df = grouped_submission_df.drop(['passed_submission'], axis=1)

df.rename(columns={'first_passed_total_attempts':'avg_first_passed_total_attempts','first_passed_time_used':'avg_first_passed_time_used'}, inplace=True)

# Change problem_id to index
df.set_index('problem_id', inplace=True)
df

,avg_first_passed_total_attempts,avg_first_passed_time_used
problem_id,,
100,11,27716.431611
102,14,27306.114982
189,11,7147.600507
26,75,28694.186009
30,15,80324.741168
31,15,33624.470888
32,49,68469.941140
36,34,1724.708900
39,105,21738.002153
466254a3a6ac4bc8b7ee9e0925d2ba86,13,1718.811215
4c3dd648b8794405bdab98be9efed4e1,10,3774.941655
51,13,25319.208911
53,22,3436.641949
56,14,550.855698
59,17,1572.689994
65,11,3427.915384
69,40,18739.354649
84,15,2240.250901
89,20,1081.117486
90,89,3489.229610
91,37,6643.286039
92,16,20301.040229
93,48,5593.446917
95,42,1946.191886
95ffaed6d2df44f6a143a58dd974f48c,19,2197.658505
97,17,3368.679710
de63587d9490436283dec1063df77e8b,11,1081.136252

In [16]:
difficulty = json.load(open('difficulty.json'))

def applyDifficulty(row):
    return difficulty[str(row.name)]

df['difficulty'] = df.apply(applyDifficulty, axis=1)
df

,avg_first_passed_total_attempts,avg_first_passed_time_used,difficulty
problem_id,,,
100,11,27716.431611,1
102,14,27306.114982,2
189,11,7147.600507,2
26,75,28694.186009,1
30,15,80324.741168,1
31,15,33624.470888,1
32,49,68469.941140,2
36,34,1724.708900,1
39,105,21738.002153,1
466254a3a6ac4bc8b7ee9e0925d2ba86,13,1718.811215,1
4c3dd648b8794405bdab98be9efed4e1,10,3774.941655,1
51,13,25319.208911,1
53,22,3436.641949,1
56,14,550.855698,1
59,17,1572.689994,1
65,11,3427.915384,2
69,40,18739.354649,2
84,15,2240.250901,1
89,20,1081.117486,1
90,89,3489.229610,1
91,37,6643.286039,1
92,16,20301.040229,1
93,48,5593.446917,1
95,42,1946.191886,1
95ffaed6d2df44f6a143a58dd974f48c,19,2197.658505,1
97,17,3368.679710,1
de63587d9490436283dec1063df77e8b,11,1081.136252,1

In [17]:
df.to_csv('modelgrader_submission_processed.csv')
print("Done")

Done